.ui-state-highlight {
  background-color: #EEEEEE; }

.ui-dialog-contain {
  width: 92.5%;
  max-width: 500px;
  margin: 10% auto 15px auto;
  padding: 0;
  position: relative;
  top: -15px; }

.bill-container {
  background-color: grey;
  width: 100%;
  padding: 3px 3px; }
  .bill-container .bill {
    text-align: left;
    z-index: 1;
    border: solid black 1px;
    padding: 5px 5px 5px 15px;
    width: 100%; }
    .bill-container .bill .bill-name {
      color: white;
      padding: 20px 20px; }
    .bill-container .bill .bill-not-paid {
      color: brown; }
    .bill-container .bill .bill-paid {
      color: green; }
  .bill-container .new-bill-button a {
    width: 100%;
    clear: left; }
  .bill-container .new-bill-button #bill-adder-wrapper .btn {
    text-align: center; }

.header, .footer {
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px;
  padding: 10px; }
