.ui-state-highlight {
  background-color: #EEEEEE; }

.ui-dialog-contain {
  width: 92.5%;
  max-width: 500px;
  margin: 10% auto 15px auto;
  padding: 0;
  position: relative;
  top: -15px; }

.fancybox-lock {
  overflow: inherit !important; }

html {
  height: 100%; }
  html body {
    height: calc(100% - 84px); }
    html body .bill-checklist {
      height: 100%; }
      html body .bill-checklist #header, html body .bill-checklist #footer {
        text-align: center;
        border: 1px solid black;
        box-shadow: 5px;
        padding: 10px;
        color: white;
        background-color: grey; }
      html body .bill-checklist #content {
        height: 100%; }
        html body .bill-checklist #content .bill-container {
          height: 100%;
          background-color: darkgray; }
          html body .bill-checklist #content .bill-container .bill {
            text-align: left;
            z-index: 1;
            border: solid black 1px;
            padding: 5px 5px 5px 15px;
            width: 100%; }
            html body .bill-checklist #content .bill-container .bill .bill-name {
              color: white;
              padding: 20px 20px; }
            html body .bill-checklist #content .bill-container .bill .bill-not-paid {
              color: brown; }
            html body .bill-checklist #content .bill-container .bill .bill-paid {
              color: green; }
          html body .bill-checklist #content .bill-container .new-bill-button a {
            width: 100%;
            clear: left; }
          html body .bill-checklist #content .bill-container .new-bill-button #bill-adder-wrapper .btn {
            text-align: center; }
